body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.link{
   text-decoration: none;
}

/* Navbar.module.css */
/* .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
  } */
  
  /* Add more styles as needed */

  .displaydesc{
   /* background-color: aqua; */
   height: 100vh;
   overflow: auto;
   position: sticky;
   height: 50vh;
   /* background-color: aqua; */
   top:70px;
   
   z-index: 1000;
  }
  .related{
   width:40%;
  }